<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <title>ECSHOP 管理中心 - 添加角色 </title>
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="__PUBLIC__/Admin/styles/general.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/Admin/styles/main.css" rel="stylesheet" type="text/css">
    
</head>
<body>

<h1>
    <span class="action-span"><a href="__URL__/getlist">角色列表</a></span>
    <span class="action-span1"><a href="index.php?act=main">ECSHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 添加角色 </span>
    <div style="clear:both"></div>
</h1>
<form method="POST" action="__SELF__" name="theFrom">
    <div class="list-div">
        <table width="100%">
            <tbody><tr>
                <td class="label">角色名</td>
                <td>
                    <input type="text" name="role_name" maxlength="20" value="" size="34"><span class="require-field">*</span></td>
            </tr>
            <tr>
                <td class="label">角色描述</td>
                <td>
                    <textarea name="role_desc" cols="31" rows="6"></textarea>
                    <span class="require-field">*</span></td>
            </tr>
            </tbody></table>
        <table cellspacing="1" id="list-table">
            <tbody>
<volist name="list" id="vo">
    <tr>
        <td width="18%" valign="top" class="first-cell">
            <input name="action_code[]" type="checkbox" value="{$vo.id}" onclick="check('4,5',this);" class="checkbox">{$vo.priv_name}</td>
        <td>
    <volist name="info" id="vo1">
        <if condition="$vo['id'] eq $vo1['parent_pid']">
            <volist name="child" id="vo2">
                <if condition="$vo1['id'] eq $vo2['parent_pid']">
                    <div style="width:200px;float:left;">
                        <label for="{$vo2.id}"><input type="checkbox" name="action_code[]" value="{$vo2.id}" id="{$vo2.id}" class="checkbox" onclick="checkrelevance('', {$vo1.id})" title="">
                            {$vo1.priv_name}/{$vo2.priv_name}</label>
                    </div>
                <else/>
                    <div style="width:200px;float:left;">
                        <label for="{$vo1.id}"><input type="checkbox" name="action_code[]" value="{$vo1.id}" id="{$vo1.id}" class="checkbox" onclick="checkrelevance('',{$vo1.id})" title="">
                            {$vo1.priv_name}</label>
                    </div>
                </if>
            <volist>
        </if>
    </volist>
        </td></tr>

</volist>

                <td align="center" colspan="2">
                    <input type="checkbox" name="checkall" value="checkbox" onclick="checkAll(this.form, this);" class="checkbox">全选      &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" name="Submit" value=" 保存 " class="button">&nbsp;&nbsp;&nbsp;
                    <input type="reset" value=" 重置 " class="button">
                </td>
            </tr>
            </tbody></table>
    </div>
</form>


<script language="javascript">
    function checkAll(frm, checkbox)
    {
        for (i = 0; i < frm.elements.length; i++)
        {
            if (frm.elements[i].name == 'action_code[]' || frm.elements[i].name == 'action_code[]')
            {
                frm.elements[i].checked = checkbox.checked;
            }
        }
    }

    function check(list, obj)
    {
        var frm = obj.form;

        for (i = 0; i < frm.elements.length; i++)
        {
            if (frm.elements[i].name == "action_code[]")
            {
                var regx = new RegExp(frm.elements[i].value + "(?!_)", "i");

                if (list.search(regx) > -1) {frm.elements[i].checked = obj.checked;}
            }
        }
    }

    function checkrelevance(relevance, priv_list)
    {
        if(document.getElementById(priv_list).checked && relevance != '')
        {
            document.getElementById(relevance).checked=true;
        }
        else
        {
            var ts=document.getElementsByTagName("input");

            for (var i=0; i<ts.length;i++)
            {
                var text=ts[i].getAttribute("title");

                if( text == priv_list)
                {
                    document.getElementById(ts[i].value).checked = false;
                }
            }
        }
    }
</script>

<div id="footer">
    共执行 3 个查询，用时 0.013000 秒，Gzip 已禁用，内存占用 2.123 MB<br>
    版权所有 © 2005-2012 上海商派网络科技有限公司，并保留所有权利。</div>
<script type="text/javascript" src="__PUBLIC__/Admin/js/utils.js"></script><!-- 新订单提示信息 -->

</body></html>