<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>SHOP 管理中心 - 类型管理 </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/admin/styles/general.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/admin/styles/main.css" rel="stylesheet" type="text/css" />
</head>
<body>

<h1>
<span class="action-span"><a href="__URL__/add">新建商品类型</a></span>
<span class="action-span1"><a href="index.php?act=main">SHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 商品类型 </span>
<div style="clear:both"></div>
</h1>

<form method="post" action="" name="listForm">
<!-- start goods type list -->
<div class="list-div" id="listDiv">

	<table width="100%" cellpadding="3" cellspacing="1" id="listTable">
		<tbody>
			<tr>
				<th>商品类型名称</th>
				<th>属性分组</th>
				<th>属性数</th>
				<th>状态</th>
				<th>操作</th>
			</tr>
    <volist name="list" id="vo">
            <tr>
              <td class="first-cell"><span onclick="javascript:listTable.edit(this, 'edit_type_name', 1)">{$vo.type_name}</span></td>
              <td></td>
              <td align="right">
                <?php
                  $count=M('attribute')->where(array('type_id'=>$vo['id']))->count('id');
                  echo $count[0];
                ?>
              </td>
              <td align="center">
                <if condition="$vo['status'] eq 1">
                  <img src="__PUBLIC__/admin/images/yes.gif"></td>
                <else/>
                  <img src="__PUBLIC__/admin/images/no.gif"></td>
                </if>

              <td align="center">

                <a href="{:U('Attribute/getlist',array('id'=>$vo['id']))}" title="属性列表">属性列表</a> |
                <a href="{:U('Goodstype/edit',array('id'=>$vo['id']))}" title="编辑">编辑</a> |
                <a href="{:U('Goodstype/del',array('id'=>$vo['id']))}" onclick="listTable.remove(1, '删除商品类型将会清除该类型下的所有属性。\n您确定要删除选定的商品类型吗？')" title="移除">移除</a>
              </td>
            </tr>
    </volist>


      <tr>
      <td align="right" nowrap="true" colspan="6" style="background-color: rgb(255, 255, 255);">
            <!-- $Id: page.htm 14216 2008-03-10 02:27:21Z testyang $ -->
            <div id="turn-page">
        总计  <span id="totalRecords">{$page['count']}</span>
        个记录分为 <span id="totalPages">{$page['page_count']}</span>
        页当前第 <span id="pageCurrent">{$page['page_id']}</span>
        页，每页 <input type="text" size="3" id="pageSize" value="{$page['page_size']}" onblur="editsize(this.value)">
        <span id="page-link">
          <a href="__URL__/getlist/p/1">第一页</a>
          <a href="__URL__/getlist/p/{$page['page_id']-1}">上一页</a>
          <a href="__URL__/getlist/p/{$page['page_id']+1}">下一页</a>
          <a href="__URL__/getlist/p/{$page['page_count']}">最末页</a>
          <select id="gotoPage" onchange="searchAttr(this.value)">
            <?php
              for($i=1,$n=$page['page_count'];$i<=$n;$i++){
              ?>
               <option value="<?php echo $i?>" <if condition="$i eq $page['page_id']">selected="selected"</if>><?php echo $i?></option>
            <?php
              }
            ?>
          </select>
        </span>
      </div>
      </td>
    </tr>
  </tbody></table>

</div>
<!-- end goods type list -->
</form>

<div id="footer">
	版权所有 &copy; 2012-2013 传智播客 - PHP培训 - </div>
</div>


<script type="text/javascript">
  function searchAttr(page){
    location.href="__SELF__/p/"+page;
  }
</script>
</body>
</html>