<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>管理收货地址</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/base.css" type="text/css" />
	<link rel="stylesheet" href="__PUBLIC__/Home/css/shop_common.css" type="text/css" />
	<link rel="stylesheet" href="__PUBLIC__/Home/css/shop_header.css" type="text/css" />
	<link rel="stylesheet" href="__PUBLIC__/Home/css/shop_manager.css" type="text/css" />
	<link rel="stylesheet" href="__PUBLIC__/Home/css/shop_shdz_835.css" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.js" ></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/topNav.js" ></script>
</head>
<body>
		<!-- Header  -wll-2013/03/24 -->
		<include file="Public/header"/>
		<!-- Header Menu End -->


	<div class="clear"></div>
	<!-- 面包屑 注意首页没有 -->
	<!--<div class="shop_hd_breadcrumb">
		<strong>当前位置：</strong>
		<span>
			<a href="">首页</a>&nbsp;›&nbsp;
			<a href="">我的商城</a>&nbsp;›&nbsp;
			<a href="">已买到商品</a>
		</span>
	</div>
	<div class="clear"></div>-->
	<!-- 面包屑 End -->

	<!-- Header End -->	

	<!-- 我的个人中心 -->
	<div class="shop_member_bd clearfix">
		<!-- 左边导航 -->
		<include file="Public/left_personal"/>
		<!-- 左边导航 End -->
		
		<!-- 右边购物列表 -->
		<div class="shop_member_bd_right clearfix">
			
			<div class="shop_meber_bd_good_lists clearfix">
				<div class="title"><h3>管理收货地址<a style="float:right;" href="javasrcipt:void(0);" id="new_add_shdz_btn">新增收货地址</a></h3></div>
				<div class="clear"></div>
			<!-- 收货人地址 Title End -->
			<div class="shop_bd_shdz clearfix">
				<div class="shop_bd_shdz_lists clearfix">
					<ul>
						<li><label><span><input type="radio" name="shdz" /></span></label><em>北京</em><em>北京市</em><em>昌平区</em><em>回龙观东大街</em><em>王超平(收)</em><em>1336699232</em><span class="admin_shdz_btn"><a href="">编辑</a><a href="">删除</a></span></li>

						<li><label><span><input type="radio" name="shdz" /></span></label><em>北京</em><em>北京市</em><em>昌平区</em><em>回龙观东大街</em><em>王超平(收)</em><em>1336699232</em><span class="admin_shdz_btn"><a href="">编辑</a><a href="">删除</a></span></li>

						<li><label><span><input type="radio" name="shdz" /></span></label><em>北京</em><em>北京市</em><em>昌平区</em><em>回龙观东大街</em><em>王超平(收)</em><em>1336699232</em><span class="admin_shdz_btn"><a href="">编辑</a><a href="">删除</a></span></li>

						
					</ul>
				</div>
				<!-- 新增收货地址 -->
				<div id="new_add_shdz_contents" style="display:none;" class="shop_bd_shdz_new clearfix">
					<div class="title">新增收货地址</div>
					<div class="shdz_new_form">
						<form>
							<ul>
								<li><label for=""><span>*</span>收货人姓名：</label><input type="text" class="name" /></li>
								<li><label for=""><span>*</span>所在地址：</label>
									<select>
										<option value="">北京</option>
									</select>
									<select>
										<option value="">北京</option>
									</select>
									<select>
										<option value="">昌平</option>
									</select>
								</li>
								<li><label for=""><span>*</span>详细地址：</label><input type="text" class="xiangxi" /></li>
								<li><label for=""><span></span>邮政编码：</label><input type="text" class="youbian" /></li>
								<li><label for=""><span></span>电话：</label><input type="text" class="dianhua" /></li>
								<li><label for=""><span></span>手机号：</label><input type="text" class="shouji" /></li>
								<li><label for="">&nbsp;</label><input type="submit" value="增加收货地址" /></li>
							</ul>
						</from>
					</div>
				</div>
				<!-- 新增收货地址 End -->
			</div>
			<div class="clear"></div>
			</div>
		</div>
		<!-- 右边购物列表 End -->

	</div>
	<!-- 我的个人中心 End -->

	<!-- Footer - wll - 2013/3/24 -->
		<include file="Public/footer"/>
	<!-- Footer End -->
	<script type="text/javascript">
	jQuery(function(){
		jQuery("#new_add_shdz_btn").toggle(function(){
			jQuery("#new_add_shdz_contents").show(500);
		},function(){
			jQuery("#new_add_shdz_contents").hide(500);
		});
	});
	</script>
</body>
</html>